body {
	position: relative;
	display: block;
	margin: 0 auto;
}

a:active {
	
}

#header {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 400px;
	height: 100px;
	border: 1px solid transparent;
	background-image: url(../images/shopping-list.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#input {
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 400px;
	height: 50px;
	border: 1px solid transparent;
}

#input-text {
	position: relative;
	display: block;
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

#list-input {
	height: 30px;
	width: 250px;
	font-family: cursive;
	font-size: 1.5em;
}

#input-add {
	position: relative;
	display: block;
	float: right;
	margin-top: 12px;
	margin-right: 30px;
	width: 70px;
}

#main-field {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 500px;
	height: 600px;
	border: 1px solid transparent;
}

#notepad {
	position: relative;
	display: block;
	
/*	margin-left: 50px; */
	width: 500px;
	height: 600px;
	border: 1px solid transparent;
	background-image: url(../images/Notepad.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#list-place {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 100px;
	margin-right: 80px;
	width: 300px;
	height: 400px;
}

.list-items {
	font-family: cursive;
	font-size: 1.8em;
}

.edit-buttons {
	position: relative;
	display: none;
	float: right;
	width: 170px;
	height: 30px;
	margin-right: 50px;
	margin-top: 100px;
	border: 1px solid transparent;
}

.delete {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 25px;
	border: 1px solid transparent;
	margin-right: 10px;
}

.gotit {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 25px;
	border: 1px solid transparent;
	margin-right: 5px;
}

/* BUTTONS */
/*#button-delete {
	width: 30px;
	height: 25px;
	background-image: url(../images/trashcan.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}

#button-gotit {
	width: 70px;
	height: 25px;

}*/